{% extends 'base.html.twig' %}

{% block title %} Detalles libro{% endblock %}


{% block body %}

    <section class="vh-100" style="background-color: #c4e3f3;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-12">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-4 col-lg-4 d-none d-md-block">
                                <img src="{{ asset('storage/default/' ~book.image  ) }}"
                                     alt="No se pudo cargar la imagen del libro" class="img-fluid"
                                     style="border-radius: 1rem 0 0 1rem;"/>
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body">
                                    <div class="form-outline mb-4">
                                        <div class="col-md-12 align-items-center center-block">
                                            <br>
                                            <H2>{{ book.title }}</H2>
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="table-dark">Descripcion</th>
                                                    <th scope="row">{{ book.description }}</th>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="table-dark">Autores</th>
                                                    <th scope="row">{{ book.authors | join(', ') }}</th>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="table-dark">Categorias</th>
                                                    <th scope="row">{{ book.categories | join(', ') }}</th>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <H5>Comentarios</H5>
                                            <div class="form-outline mb-4">
                                                <div class="col-md-12">
                                                    {% for commentBook in commentsBook %}
                                                        <label style="padding-left: 20px"> - {{ commentBook }}
                                                            {% if is_granted('ROLE_ADMIN') %}
                                                                <a href="{{ path('form_to_update_comment', {'id_book':book.id, 'id': commentBook.id} ) }}"
                                                                   class="btn btn-link" type="submit">editar</a>
                                                                <a href="{{ path('delete_comment', {'id_book':book.id, 'id': commentBook.id} ) }}"
                                                                   class="btn btn-link" onclick="return confirm('¿Estás seguro de que deseas eliminar el comentario?');"
                                                                   type="submit">eliminar</a>
                                                            {% else %}
                                                                {% if app.user !=null and app.user.id.toString() is same as(commentBook.getIdUser()) %}
                                                                    <a href="{{ path('form_to_update_comment', {'id_book':book.id, 'id': commentBook.id} ) }}"
                                                                       class="btn btn-link" type="submit">editar</a>
                                                                    <a href="{{ path('delete_comment', {'id_book':book.id, 'id': commentBook.id} ) }}"
                                                                       class="btn btn-link" onclick="return confirm('¿Estás seguro de que deseas eliminar el comentario?');">
                                                                        eliminar</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </label><br>
                                                    {% endfor %}
                                                </div>
                                                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                                                    <form action="{{ path('save_comment', {'id': book.id}) }}"
                                                          method="post">
                                                        <textarea name="comment" rows="2" cols="84"></textarea><br>
                                                        <button class="btn btn-outline-primary" type="submit">Agregar
                                                            Comentario
                                                        </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
